<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spotify.playit.video">

    <application>
        <activity
            android:name=".VideoActivity"
            android:exported="false"
            android:theme="@style/Theme.Spotify" />
    </application>

</manifest>